@font-face {
  font-family: "block";
  src: url(https://hoeveelvrouwenopjera.nl/blocktregcon-webfont.woff2);
}

@font-face {
  font-family: "Jera on Air";
  src: url(https://hoeveelvrouwenopjera.nl/jera-font-air-webfont.woff2);
}

*::selection {
  background-color: var(--color-hover);
}

:root {
  --spacer-xs: 4px;
  --spacer-sm: 8px;
  --spacer-md: 16px;
  --spacer-lg: 24px;
  --spacer-xl: 32px;
  --spacer-xxl: 48px;

  --spotify-background: rgb(40, 40, 40);
}

html {
  font-family: "block";
  font-size: 1rem;
  background-color: var(--color-background);
  color: var(--color-text);
  height: 100%;
  line-height: 1.2;
  text-rendering: optimizeLegibility !important;
  font-smooth: always !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
  position: relative;
  margin: 0;
  font-size: 2rem;
}

body.menu-open {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--color-text);
}

.c-layout {
  max-width: 51rem;
  margin: 0 auto;
  padding: var(--spacer-lg);
}

.c-footer {
  width: 100%;
  text-align: right;
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 1rem;
  color: var(--color-footer-text);
  cursor: default;
}

.c-footer__content {
  padding: var(--spacer-sm) var(--spacer-md);
}

.c-title {
  font-size: 3.4rem;
  transform: skewY(-3deg);
  color: var(--color-hover);
}

.c-title::selection,
.c-title *::selection {
  background-color: var(--color-text);
}

.c-text {
  transform: skewY(-3deg);
}

.c-link {
  font-family: "Jera on Air";
  text-transform: uppercase;
  font-size: 6rem;
  text-decoration: none;
  color: var(--color-text);
  transform: skewY(-3deg);
  opacity: 0.5;
  margin-left: var(--spacer-lg);
}

.c-link:hover {
  opacity: 1;
}

.c-spotify-embed {
  border-radius: var(--spacer-md);
}

.c-menu {
  /* Empty for reference */
}

.c-menu__backdrop {
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  opacity: 0;
  cursor: url('/assets/cross-cursor.png'), auto;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  width: 0;
}

body.menu-open .c-menu__backdrop {
  background: var(--color-footer-text);
  opacity: 0.5;
  width: 100vw;
}

.c-menu__hamburger-button {
  height: 45px;
  width: 45px;
  margin: var(--spacer-lg);
  margin-bottom: 0;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer !important;
  position: relative;
  transition: margin 300ms ease-out;
  background: transparent;
  border: none;
  color: var(--color-text);
}

.c-menu__hamburger-button:hover,
.c-menu__hamburger-button:focus {
  color: var(--color-hover);
}

.c-menu__hamburger-button-bg {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
}

.c-menu__hamburger-button-icon {
  color: var(--color-background);
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 30px;
  height: 30px;
  z-index: 2;
}

.c-menu__list-container {
  color: var(--color-menu-background);
  background: currentColor;
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  max-width: 100vw;
  height: 100%;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

body:not(.menu-open) .c-menu__list-container {
  -webkit-transform: translateX(-150%);
  transform: translateX(-150%);
}

.c-menu__list-container::after {
  content: "";
  z-index: 91;
  position: absolute;
  left: 0;
  top: 0%;
  height: 100%;
  width: 100%;
  pointer-events: none;
  background-image: url('/assets/light-distortion-top-left.png'), url('/assets/light-distortion-bottom-left.png');
  background-position: top left, bottom left;
  background-repeat: no-repeat, no-repeat;
}

.c-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-transform: translateY(-50%) skewY(-3deg);
  transform: translateY(-50%) skewY(-3deg);
  color: var(--color-text);
}

.c-menu__list-border {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateX(14px);
  transform: translateX(14px);
  height: 100%;
  z-index: 90;
  color: inherit;
}

.c-menu__list a:hover,
.c-menu__list a.active {
  color: var(--color-hover);
}

.u-highlight-text {
  font-weight: bold;
  color: var(--color-support);
}

.u-monospace {
  display: inline-flex;
  justify-content: center;
}

.u-monospace span {
  display: inline-block;
  width: 1ch;
  text-align: center;
}

.u-visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.u-prevent-break {
  display: inline-block;
}

@media only screen and (min-width: 656px) {
  .c-layout {
    padding: var(--spacer-xxl);
  }

  .c-title {
    font-size: 4.5rem;
  }

  .c-link {
    position: absolute;
    bottom: 20%;
    right: 20%;
    margin: 0;
  }

  .c-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .c-menu__hamburger-button {
    height: 70px;
    width: 70px;
  }

  .c-menu__list-container {
    width: 600px;
  }
}